html, body {
  margin: 0;
  padding: 0;

  color: #030303;
  font-family: "Lato", "Noto Sans Japanese", "Arial", "BIZ UDPGothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.flex-space {
  flex: 1 1 auto;
}

header {
  background:
    linear-gradient(30deg, #73ffffcc, #4efc97cc),
    radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.75)),
    url('./screenshot1.png') no-repeat;
  background-size: cover;
}
header .top-bar {
  height: 64px;
  background: #fff9;

  display: flex;
  align-items: center;
}
header .top-bar h1 {
  margin: 0 8px;
  font-size: 32px;
}
header .top-bar h1 img {
  height: 32px;
  width: 32px;
}
header .top-bar h1 span {
  height: 32px;
}
header .top-bar .ul {
  padding: 0;
  margin: 0 8px;
}
header .top-bar .ul .li {
  
}
header .top-bar .ul a {
  text-decoration: none;
  color: #030303;
}
header .top-bar .ul a:-moz-any-link,
header .top-bar .ul a:-webkit-any-link {
  text-decoration: none;
  color: #030303;
}
header .eyecatch {
  margin: 0 auto;
  width: 95vw;
}
header .eyecatch h2 {
  margin-top: 100px;
  margin-left: 10vmin;
}
header .eyecatch h2>span {
  padding: 12px;
  background: rgb(255, 175, 27);
  color: #fff;

  font-size: 64px;
  font-weight: bold;
  font-family: 'Roboto Slab', 'DejaVu Serif', serif;
}
header .eyecatch p {
  margin: 0 10vmin;
}
header .eyecatch p>span {
  padding: 12px;
  background: rgb(255, 175, 27);
  color: #fff;

  font-size: 48px;
  font-weight: bold;
  font-family: 'Roboto Slab', 'DejaVu Serif', serif;
}
header .eyecatch .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
header .eyecatch .button a {
  display: block;
  background: linear-gradient(-30deg, #272796, #3737b6);
  color: #fff;
  text-decoration: none;
  padding: 16px;
  font-size: 16px;

  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
header .eyecatch .button a:hover {
  box-shadow: 1px 1px 20px 0 #0009;
  background: linear-gradient(-30deg, #4444c0, #5353e2);
}
header .eyecatch .button a,
header .eyecatch .button a:-moz-any-link,
header .eyecatch .button a:-webkit-any-link {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 640px) {
  header .eyecatch h2>span {
    font-size: 48px;
  }
  header .eyecatch p>span {
    font-size: 32px;
  }
}

main {
  margin: 0 auto;
  max-width: 800px;
}
main article {

}
main article section {

}
main article section h3 {
  padding: 5px;
  border-bottom: solid 1px #ccc;
}
main article section p {
  padding-left: 5px;
}
main article .download {

}
main article .download #latest {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main article .download #latest>div {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 16px;
}
main article section .developers {
  display: flex;
  flex-wrap: wrap;
}
main article section .developers .developer {
  margin: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px 0 #0003;
}
main article section .developers .developer h4 {
  margin: 0;
}
main article section .developers .developer p {
  margin: 0;
}
@media (min-width: 640px) {
  main section h3 {
    font-size: 32px;
  }
}

footer {
  text-align: center;
  background: #ccc3;
  height: 64px;
}